*{

}
body{

}
#container{
    width:900px;
    margin: 0 auto;


}
.flex-container{
    display: flex;
}
article{
    margin: 20px;
    padding: 10px;
    flex-grow: 1;
}
@media screen and (max-width:500px) {
   .flex-container {flex-direction: column;}
    
}